html {
  box-sizing: border-box;
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 1780px;
  min-height: 1000px;
  margin: 0 auto;
  
}

.title_h1 {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 10px;
 
}

.title_h1-span1 {
  font-size: 50px;
  color: rgb(241, 7, 7);
  animation: title_h1-span1 15s ease;
}

@keyframes title_h1-span1 {
  0% {}

  20% {
    font-size: 70px;
    color: rgb(9, 139, 27);
  }

  80% {
    font-size: 70px;
    color: rgb(9, 139, 27);
  }

  100% {}
}

.title_h1-span2 {
  font-size: 50px;
  color: rgb(241, 7, 7);
  opacity: 0;
  animation: title_h1-span2 13s ease 3s;
}

@keyframes title_h1-span2 {
  0% {
    opacity: 0;
  }

  20% {
    
    font-size: 40px;
    color: rgb(9, 139, 27);
    opacity: 1;
  }

  80% {
    opacity: 1;
    font-size: 40px;
    color: rgb(9, 139, 27);
  }

  100% {
    opacity: 0;
  }
}

.title_h1-span3 {
  font-size: 50px;
  opacity: 0;
  color: rgb(241, 7, 7);
  animation: title_h1-span3 11s ease 6s;
}

@keyframes title_h1-span3 {
  0% {}

  20% {
    opacity: 1;
    font-size: 70px;
    color: rgb(9, 139, 27);
  }

  80% {
    opacity: 1;
    font-size: 70px;
    color: rgb(9, 139, 27);
  }

  100% {}
}

.block__img {
  max-width: 1700px;
  position: relative;
  perspective: 5000px;
  margin: 0 auto;
  text-align: center;

}

.block__img-all {
  border-radius: 20px;
  max-width: 1350px;
  background-image: url(../img/терем.PNG);
}



.block__img-left {
  position: absolute;
  top: 28px;
  left: 456px;
  animation: block__img-left 15s ease;
}

@keyframes block__img-left {
  0% {}

  30% {
    left: 315px;
    transform: rotate3d(1, 1000, 10, 75deg);
  }

  70% {
    left: 315px;
    transform: rotate3d(1, 1000, 10, 75deg);
  }

  100% {}
}

.block__img-right {
  position: absolute;
  top: 26px;
  left: 863px;
  animation: block__img-right 15s ease;
}

@keyframes block__img-right {
  0% {}

  30% {
    left: 1005px;
    transform: rotate3d(1, 1000, 10, -75deg);
  }

  70% {
    left: 1005px;
    transform: rotate3d(1, 1000, 10, -75deg);
  }

  100% {}
}

.girl {
  position: absolute;
  top: 396px;
  left: 1044px;
  width: 118px;
  animation: girl 11s ease 1s;
}

@keyframes girl {
  0% {}

  50% {
    top: 340px;
    left: 730px;
    width: 200px;
  }

  100% {}
}

.block {
  margin: 0 auto;
  width: 200px;
  height: 100px;
  background-color: blue;
  animation: block 5s ease;
}

@keyframes block {
  0% {}

  50% {
    transform: translate(150px);

  }

  100% {}
}
.box {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: rgb(63, 165, 42);
}